@font-face {
    font-family: 'Condensed';
    src: url('../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf') format('truetype')
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype')
}

@import url('https://fonts.googleapis.com/css?family=Abel');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li,
a,
button {
    font-family: "Condensed";
    font-weight: 500;
    font-size: 14pt !important;
    color: #fff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Condensed";
}

h1 {
    font-size: 56px;
}

.h1 {
    font-size: 150px!important;
    color: #ffffffb5!important;
}

h4 {
    font-size: 22pt;
}

.navbar_top {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 9999;
    transition: all 2.5s ease-in-out;
}

.navbar.header_transition {
    transition: all 1.5s ease-in-out;
    background-color: rgb(25, 35, 37)!important;
}

.logo {
    cursor: pointer;
    width: 6%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all .3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.ecommerce-shopping a {
    padding: 12px;
    background-color: transparent;
    color: #ef7c60;
    border-radius: 100%;
    font-size: 12.5pt!important;
    font-weight: 900;
}

.skin {
    fill: #eab38f;
}

.eyes {
    fill: #1f1f1f;
}

.hair {
    fill: #2f1b0d;
}

.line {
    fill: none;
    stroke: #2f1b0d;
    stroke-width: 2px;
}

button {
    padding: 8px 25px;
    background-color: rgb(167, 125, 72);
    border: none;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 1);
}

.slider-banner {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider-banner img {
    width: 100%;
    filter: grayscale(100%);
}

.slider-banner .banner-blur {
    position: absolute;
    width: 100%;
    height: 99.5%;
    z-index: 1;
    background-color: #1923258f;
}

.slider-banner .circle-1 {
    position: absolute;
    width: auto;
    padding: 8px;
    display: table;
    overflow: hidden;
    left: calc(25% - 5px);
    top: calc(35% + 20px *2);
    z-index: 1;
}

.slider-banner .title-project {
    display: table-cell;
    vertical-align: middle;
    opacity: 1;
    text-align: center;
}

.slider-banner .title-project h1 {
    margin-top: 0px;
}

.container {
    width: 1150px;
    margin: 0 auto;
    padding: 10px;
}

.acerca {
    width: 100%;
    height: 300px;
    background-color: #fff;
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: bottom center;
    display: flex;
}

.acerca p {
    font-size: 2em;
}

.projectos {
    padding: 10px 10px;
}

.center-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box-main-1x {
    width: 20%;
    height: 150px;
    border-radius: 50px;
    margin: 5px;
    background-color: #8a8c8d;
    overflow: hidden;
}

.box-main-1x {
    width: 30%;
    height: 350px;
    border-radius: 5px 5px 0px 0px;
    margin: 5px;
    background-color: #0088a9;
    overflow: hidden;
}

.box-main-2x {
    width: 40%;
    height: 350px;
    border-radius: 5px 5px 0px 0px;
    margin: 5px;
    background-color: #10a95d;
    overflow: hidden;
}

.box-main-3x {
    width: 50%;
    height: 200px;
    margin: 5px;
    background-color: #ef7c60;
    overflow: hidden;
}

.box-main-3x img {
    width: 100%;
}

.box-main-3x .box-shadows {
    position: absolute;
    padding: 70px;
    width: 49.2%;
    height: 200px;
    background-color: #181918d1;
    color: #fff;
    font-weight: 300;
}

.shopping-custom {
    background-color: #ffffffe0!important;
}

.shopping-custom a {
    float: left!important;
    margin-top: 10px;
    color: #151414!important;
    border: 2px solid #151414!important;
}

.shopping-custom h2 {
    color: #151414!important
}

.shopping-custom h3 {
    color: #151414!important;
}

.box-main-3x .box-shadows h2 {
    color: #bd925b;
}

.box-main-3x .box-shadows h3 {
    font-weight: 300;
}

.box-main-3x .box-shadows a {
    color: #bd925b;
    border: 2px solid #bd925b;
    border-radius: 100px;
    font-size: 11pt!important;
    font-weight: 600;
    padding: 10px;
    float: right;
}

.box-main-3xl {
    width: 10%;
    height: 115px;
    border-radius: 100px;
    margin: 10px;
    padding: 5px;
    background-color: #7b7b76;
    border: 2px solid #ddd6da;
    box-sizing: border-box;
    overflow: hidden;
}

.box-main-3xl h2 {
    text-align: center;
    color: #f1f1f1;
    font-size: 14pt!important;
    vertical-align: middle;
    margin-top: 20px;
}

.box-main-4x {
    display: inline-block;
    width: 33%;
    height: 250px;
    margin: 1px auto;
    background-color: rgb(139, 143, 141);
    overflow: hidden;
}

.box-main-3Lx {
    width: 45%;
    padding: 5px;
    overflow: hidden;
}

.box-main-4Lx {
    width: 55%;
    padding: 10px;
    overflow: hidden;
}

.text-h {
    font-family: "Condensed";
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 8px;
}

.text-h h3 {
    font-size: 25pt;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.text-h .p {
    width: 60%;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
}

.box-pub {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ddd6da;
    border-bottom: 1px solid #ddd6da;
}

.space-diver {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ddd6da;
    border-bottom: 1px solid #ddd6da;
}

.center-itens-2s {
    padding: 8px;
    align-items: center;
}

.div-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactos-diver {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy {
    color: #515353;
    font-family: "Condensed";
    font-size: 11pt;
    font-weight: 500;
}

.box-main-image {
    width: 100%;
}

.box-main-image img {
    position: relative;
    width: 100%;
}

.box-main-describe {
    width: 100%;
    padding: 8px;
    color: #222222
}

.box-main-describe p {
    width: 100%;
    text-align: justify !important;
}

.box-main-describe p a {
    color: #222222;
    font-size: 11pt!important;
    padding: 10px;
    font-weight: 600;
}

.border-contorn {
    border: 2px solid #000000;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/**
BOX CAMPANHAS CUSTOMIZADO
*/

.card_campanhas {
    width: 650px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
}

.card_campanhas h1 {
    text-align: center;
}

.card_campanhas .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#dE685E, #EE786E);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card_campanhas.green .additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
}

.card_campanhas:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.user-card img {
    width: 425%;
}

.card_campanhas .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

.card_campanhas .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card_campanhas .additional .user-card .level,
.card_campanhas .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.card_campanhas .additional .user-card .points {
    top: 85%;
}

.card_campanhas .additional .user-card svg {
    top: 50%;
}

.card_campanhas .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}

.card_campanhas .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
}

.card_campanhas.green .additional .more-info h1 {
    color: #fff;
}

.card_campanhas .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
}

.card_campanhas.green .additional .coords {
    color: #fff;
}

.card_campanhas .additional .coords span+span {
    float: right;
}

.card_campanhas .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
}

.card_campanhas.green .additional .stats {
    color: #fff;
}

.card_campanhas .additional .stats>div {
    flex: 1;
    text-align: center;
}

.card_campanhas .additional .stats i {
    display: block;
}

.card_campanhas .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card_campanhas .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.card_campanhas .additional .stats div.value.infinity {
    font-size: 2.5rem;
}

.card_campanhas .general {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

.card_campanhas .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
    color: #bd925b;
    font-weight: 600;
}

.newslatter {
    width: 450px;
    height: 100px;
    padding: 10px;
    margin: calc(70px) auto;
    background-color: #bd925b;
}

.form-input input {
    width: 310px;
    height: 40px;
    border-radius: 35px;
    font-size: 13pt;
    padding: 8px;
    border: 1px solid rgb(167, 125, 72);
    outline: none;
}

.form-contact {
    width: 350px;
    padding: 10px;
    border-left: 1px solid #ddd6da;
    border-right: 1px solid #ddd6da;
}

.form-contact .input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-contact .input-group label {
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px;
}

.form-contact .input-group input,
.form-contact .input-group textarea {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 11pt;
    border: 1px solid #000000;
    outline: none;
}

.form-contact .input-group input {
    height: 30px;
    border-radius: 2px;
}


/**
    TITLE ANIMATION
*/

.ks {
    line-height: 1;
    margin-top: -11px;
    -webkit-transition: all 1.3s ease-in-out;
    transition: all 1.3s cubic-bezier(.190, 1.000, .220, 1.000) 3s;
    -webkit-transform: translateX(-1000%);
    -ms-transform: translateX(-1000%);
    transform: translateX(-1000%);
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #fff;
}

.animate .ks {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
    text-shadow: 1px 1px 3px #abaf16cf;
    color: #ffffff63;
}

.able {
    -webkit-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
    transition: all 2s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
    letter-spacing: -.07em;
}

.break {
    -webkit-transition: all .3s ease-in-out 2s;
    transition: all .3s ease-in-out 2s;
    letter-spacing: -.07em;
}

.un {
    -webkit-transition: all 2.3s ease-in-out 1.7s;
    transition: all 2.3s ease-in-out 1.7s;
    letter-spacing: -.07em;
}

.point {
    font-size: 1.2em;
    font-weight: 900;
}

.animate .un {
    font-size: 18px;
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 1;
    letter-spacing: .2px;
    filter: alpha(opacity=100);
    margin-left: 48%;
    color: #ffffff63;
    margin-top: -25px;
    border-bottom: 1px solid;
}

.animate .break {
    font-size: 60px;
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 1;
    filter: alpha(opacity=100);
}

.animate .able {
    font-size: 145px;
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 1;
    filter: alpha(opacity=100);
}
/**
*BOX CUSTOMIZED
*/
.post-module {
  position: relative;
  border-radius: 10px;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  height: 470px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.6;
}
.post-module .thumbnail {
  border-radius: 10px;
  height: 400px;
  overflow: hidden;
}
.post-module .thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #e74c3c;
  width: 55px;
  height: 55px;
  padding: 12.5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-module .thumbnail .date .day {
  font-size: 18px;
}
.post-module .thumbnail .date .month {
  font-size: 12px;
  text-transform: uppercase;
}
.post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 10px 10px;
  background: #FFFFFF;
  width: 100%;
  padding: 30px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
  position: absolute;
  top: -34px;
  left: 0;
  background: #e74c3c;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
}
.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #e74c3c;
  font-size: 18px;
  font-weight: 600;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.post-module .post-content .post-meta {
  margin: 30px 0 0;
  color: #999999;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}
.container:before,
.container:after {
  content: '';
  display: block;
  clear: both;
}
.container .column {
  width: 32.5%;
  padding: 0 25px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.container .column .demo-title {
  margin: 0 0 15px;
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.container .info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.container .info span {
  color: #666666;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #e74c3c;
}
